*{margin:0px;padding:0px;}

.prd-block fieldset {
    margin-top: 17px;
    border: 0.5px solid gray;
    width: 718px;
    padding-bottom: 12px;
}

#login-form img {
    width: 30px;
    height: 30px;
    margin-top: 18px;
    margin-left: 10px;
}

#login-form p {
    font-size: 15px;
    margin-top: 24px;
    float: left;
    /* font-weight: bold; */
}

#login-form input[type="submit"] {
    margin-left: 154px;
    padding: 10px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
}

#login-form input[type="text"], input[type="password"] {
    height: 25px;
	width:200px;
    /* border: none; */
    border-radius: 15px;
    padding-left: 10px;
}

#login-form .label {
    float: left;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
    height: 30px;
    line-height: 25px;
}

div#login-form {
    width: 573px;
    height: auto;
    padding-top: 40px;
    padding-left: 135px;
}